table {
    margin-top: 10px;
    border-collapse: collapse;
}
td {
    width: 30px;
    height: 20px;
    border: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
}

.coincidence {
    background: #dbff9f;
}