.window {
    display: none;

    width: 600px;

    margin: 100px auto;

    border: 2px solid gray;
    background: #f9f9f9;
}

.window__header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding-left: 20px;

    background: grey;

    color: white;
}

.window__content {
    padding: 20px;
}

.window__button {
    width: 150px;
    margin-left: calc(100% - 20px - 150px);
    margin-bottom: 20px;
}