@font-face {
    font-family: 'Hattori Hanzo';
    src: local('Hattori Hanzo Light'),
         local('HattoriHanzo-Light'),
         url('/resources/fonts/hattorihanzo/hattorihanzolight.woff2') format('woff2'),
         url('/resources/fonts/hattorihanzo/hattorihanzolight.woff') format('woff'),
         url('/resources/fonts/hattorihanzo/hattorihanzolight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hattori Hanzo';
    src: local('Hattori Hanzo Light Italic'),
         local('HattoriHanzo-LightItalic'),
         url('/resources/fonts/hattorihanzo/hattorihanzolightitalic.woff2') format('woff2'),
         url('/resources/fonts/hattorihanzo/hattorihanzolightitalic.woff') format('woff'),
         url('/resources/fonts/hattorihanzo/hattorihanzolightitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

body {
    overflow-y: scroll;

    margin: 0;
    padding: 0;

    font-family: "Hattori Hanzo", sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("/resources/img/background.png") no-repeat 50% 50% fixed,
                linear-gradient(to bottom, #94514a, #59556d, #4d485c) fixed;
    background-size: auto 130%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    min-height: calc(100vh - 100px);

    padding: 50px;

    background: rgba(181, 181, 181, 0.6);
}

.main__header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-bottom: 15px;

    font-size: 30px;
    color: white;

    text-align: center;
}

.main__logo {
    width: 300px;
    height: 300px;

    margin: 30px 0 20px;

    background: url("/resources/img/logo.png") no-repeat 50% 50%;
    background-size: contain;
}

.main__hr {
    width: 100%;
    margin-bottom: 20px;
}

.main-variants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-variants_inner {
    flex-direction: row;
    flex-wrap: wrap;

    width: 80%;

    margin-top: -18px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.main-variants__element {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 45px;
    box-sizing: border-box;

    margin-bottom: 20px;

    border-radius: 0 10px 0 10px;
    background: #bf735d;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);

    font-size: 22px;
    color: white;

    text-decoration: none;

    transition: background 0.2s;
}
.main-variants__element:hover {
    background: #d68364;
}
.main-variants__element:active {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 17px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
}

.main-variants__element_default {
    position: relative;
    background: #b3877d;
}
.main-variants__element_default:hover {
    background: #b3877d;
}
.main-variants__element_default:active {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
}
.main-variants__element_default:after {
    content: "";
    position: absolute;
    top: calc((100% - 10px) / 2);
    right: 20px;

    width: 0;
    height: 0;

    border: 10px solid rgba(255, 255, 255, 0);
    border-top: 10px solid white;
    border-bottom-width: 0;
}
.main-variants_inner > .main-variants__element {
    display: flex;
    flex-grow: 1;
    flex-basis: 30%;

    height: 35px;
    max-width: 100%;

    margin: 5px 3% 0 0;

    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);

    font-size: 18px;
}
.main-variants_inner > .main-variants__element:hover {
    background: rgba(255, 255, 255, 0.4);
}

.main__author {
    margin-top: auto;
    font-size: 22px;
    color: white;
}

.main__back {
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 10px 20px;

    border-radius: 5px;

    font-size: 25px;
    color: white;

    text-decoration: none;

    transition: background 0.2s;
}
.main__back:hover {
    background: rgba(255, 255, 255, 0.2);
}